*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: "Poppins", sans-serif;
}

.left-col {
    background: #5200ff;
    color: #FFF;
    text-align: center;
    position: relative;
}

.left-col::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('./bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 22%;
}

.left-col, .right-col {
    padding: 6em 8vw;

}

.content {
    position: relative;
}

.title {
    text-transform: uppercase;
    font-family: "Bebas Neue",
    sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 1.5em;
}

.text {
    font-size: 2rem;
    text-align: center;
    font-style: normal;
}

label {
    display: block;
    font-size: 1.8rem;
    margin-bottom: 0.75em;
}

input {
    width: 100%;
    background: #EDEDED;
    font-size: 1.6rem;
    padding: .5em .75em;
    border: 1px solid #C7C7C7;
    margin-bottom: 2.5em;
}

button {
    width: 100%;
    background: #5200ff;
    color: #FFF;
    font-size: 1.6rem;
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

@media only screen and (min-width: 600px) {
    .left-col, .left-col::before {
        height: 50vh;
    }

    .form {
        display: grid;
        grid: 1fr auto / repeat(2, 1fr);
        gap: 4em;
    }

    button {
        width: auto;
        padding: 1em 2.5em;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        display: flex;
    }

    .left-col, .right-col {
        flex: 1 0 0;
        height: 100vh;
        display: grid;
        align-items: center;
    }

    .title, .text {
        text-align: end;
    }

    .title {
        font-size: 6.4rem;
    }

    .text {
        font-size: 2.4rem;
    }
}